<h1>Show Page for Discount ID#: <%= @discount.id %></h1>

<h3>Quantity: <%= @discount.quantity %></h3>

<h3>Percentage: <%= @discount.percent_discount %></h3>

<%= link_to "Edit This Discount", "/merchants/#{params[:merchant_id]}/discounts/#{params[:discount_id]}/edit" %>
